{% extends 'base.html' %}
{% block title %}Ayuda &bull; {% endblock title %}
{% block main %}
<h2>Para qué sirve?</h2>
<p>Este servicio está pensado para saber si te va a dar tiempo a coger 
autobus que conoces en una parada que más o menos sabes dónde 
está.<br>Este servicio no te servirá de mucho si eres nuevo en 
Valladolid o si no conoces tu destino.</p>
<h2>Motivación</h2>
<p>Con frecuencia los paneles informativos no ofrecen información por 
mal funcionamiento o 
simplemente no están instalados en todas las paradas (Incluso en 
aquellas donde la frecuencia es menor).<br>El servicio de información 
de tiempo de espera mediante SMS que ofrece AUVASA no nos ha funcionado 
en 4 años.<br>El número de parada no está accesible<br>
La web de AUVASA es bastante difícil utilizarla mediante navegador de 
teléfono móvil.
</p>
<h2>Interés público</h2>
<p>El presente servicio está ofrecido de manera desinteresada y 
gratuita por Néstor Díaz nestor_at_barriolinux.es</p>
<p>
En ningún momento se pretende cobrar ni revender los datos que son de 
AUVASA (Empresa pública de autobuses urbanos de Valladolid) y el 
Ayuntamiento de Valladolid.<br>
Entendemos que los datos ofrecidos en la web http://www.auvasa.es son 
públicos pero de difícil acceso para la ciudadanía en movimiento y 
nuestra única intención es facilitar esta información que se costea 
entre todos los usuarios del transporte público y los ciudadanos en 
general.
</p>
<p>
Para cualquier reclamación puede ponerse en contacto en el email 
nestor_at_barriolinux.es, sustituyendo el <em>_at_</em> por una <em>arroba</em>
</p>
{% endblock main %}
